* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  height: 100%;

  font-family: 'Roboto', sans-serif;

  scroll-behavior: smooth;
}

.navbar-toggler{
  color: transparent !important;
}

.dropdown-menu{
  border: none !important;
}

a:hover{
  border: none !important;
}

a {
  text-decoration: none;
}
